#header {
  height: 10vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.layer {
  width: 95%;
  height: 70%;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(168, 168, 168, 0.336);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
}
.layer .logo {
  font-family: "Sacramento", cursive;
  margin: 0 5%;
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 4vmax;
}
.layer img {
  width: 5vmax;
  margin: 0 5%;
  transform: rotateY(180deg);
}

.menubox {
  position: absolute;
  right: -10vmin;
  top: -10vmin;
  width: 10px;
  height: 10px;
  z-index: -2;
  background: #000;
  transition: all ease 0.3s;
}
.menubox img {
  width: 5vmax;
  position: relative;
  top: -10%;
  right: -20%;
  display: none;
}
.menubox a {
  display: none;
}

.do {
  width: 90vw;
  top: 0;
  height: 70vh;
  z-index: 2;
  right: 0;
  border-radius: 0px 0 0 40pc;
  background: #a89191;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.do img {
  display: block;
}
.do a {
  display: inline;
  text-decoration: none;
  font-size: 5vmax;
  font-family: "Raleway", sans-serif;
  margin-bottom: 5%;
  color: #000;
  transition: all ease 0.3s;
  padding-left: 1%;
  width: 60%;
}
.do a:hover {
  font-style: italic;
  background-color: #000000;
  color: white;
  border-radius: 10px;
}

@media only screen and (min-width: 700px) {
  .menubox img {
    width: 4vmax;
    top: -10%;
    right: -15%;
  }
  .layer {
    width: 70%;
  }
  .do {
    width: 65vw;
    height: 90vh;
    border-radius: 0px 0 0 60pc;
  }
  .do a {
    font-size: 4vmax;
    text-align: right;
    width: 30%;
  }
}
@media only screen and (min-width: 1200px) {
  .menubox img {
    width: 3vmax;
    right: -200px;
  }
  .layer {
    width: 70%;
  }
  .do {
    width: 40vw;
    height: 100vh;
    border-radius: 0px 0 0 80pc;
  }
  .do a {
    font-size: 3vmax;
    text-align: right;
    width: 30%;
  }
}
.landing-page {
  height: 100vh;
  border: 1px solid;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: start;
}
.landing-page img {
  width: 85%;
  -o-object-fit: contain;
     object-fit: contain;
}
.landing-page .land-text {
  width: 95%;
  font-size: 4vmax;
  font-family: "Alegreya Sans SC", sans-serif;
  height: 50%;
  display: grid;
  place-items: center;
}

.textBox {
  width: 70vmin;
  height: 70vmin;
  background-color: rgba(160, 160, 160, 0.24);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all ease 5ms;
  animation: shapeSwift infinite 6s;
}

@keyframes shapeSwift {
  0% {
    border-radius: 0;
  }
  20% {
    width: 90vmin;
    border-radius: 0%;
  }
  40% {
    width: 70vmin;
    border-radius: 0%;
  }
  60% {
    width: 70vmin;
    border-radius: 50%;
  }
  80% {
    border-radius: 50% 0 50% 0;
  }
  100% {
    border-radius: 0 50% 0 50%;
  }
}
.text {
  display: inline-block;
  font-size: 2.5rem;
  line-height: 1.205;
}

.text__first, .text__second {
  position: relative;
}

.text__word, .text__word-2 {
  opacity: 0;
  color: transparent;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.text__first-bg, .text__second-bg, .text__first-bg-2, .text__second-bg-2 {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  transform-origin: left;
  transform: scaleX(0);
}

.text__first-bg {
  background-color: #5fbff9;
}

.text__second-bg {
  background-color: #f06543;
}

.text__first-bg-2 {
  background-color: rgb(233, 67, 255);
}

.text__second-bg-2 {
  background-color: rgb(211, 67, 0);
}

* {
  margin: 0;
  padding: 0;
}

.gradient-background {
  background: linear-gradient(63deg, #c1e09a, #5c9267, #af5d59, #9b472c, #2955ae);
  background-size: 300% 150%;
  animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  height: -moz-max-content;
  height: max-content;
}/*# sourceMappingURL=index.css.map */